<plugin name='invitation-only' version='1.1' grailsVersion='2.0 &lt; *'>
  <author>Marc Palmer</author>
  <authorEmail>marc@grailsrocks.com</authorEmail>
  <title>Simple way to track and check user-invites by email address</title>
  <description>\
A simple mechanism for tracking who is invited to trial your service, and checking if an address is permitted to try it.
</description>
  <documentation>http://grails.org/plugin/invitation-only</documentation>
  <type>InvitationOnlyGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>com.grailsrocks.invitationonly.AdminInvitationsController</resource>
    <resource>com.grailsrocks.invitationonly.BatchApproveForm</resource>
    <resource>com.grailsrocks.invitationonly.BatchInviteForm</resource>
    <resource>com.grailsrocks.invitationonly.SingleApproveForm</resource>
    <resource>com.grailsrocks.invitationonly.UserInvitation</resource>
    <resource>com.grailsrocks.invitationonly.InvitationService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
  </repositories>
  <dependencies />
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='mail' version='1.0.1' />
      <plugin group='org.grails.plugins' name='fields' version='1.3' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='asynchronous-mail' version='1.0-RC3' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.2.2' />
    </runtime>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>